{% extends 'base.html' %}

{% block title %}Adicione uma tarefa{% endblock %}

{% block content %}

<main class="container pt-5">
  <header class="text-center mb-5">
    <h1 class="text-danger display-1">listUp</h1>
    <h4>Transforme suas tarefas em triunfos!</h4>
  </header>
  <nav class="row justify-content-center mb-5">
    <div class="col-md-6">
      <a class="btn btn-primary rounded-pill" href="{{ url_for('task.list') }}">Voltar</a>
      {# quando um botão está fora do form precisa apontar o id do form no atributo form #}
      <button form="create-task" class="btn btn-primary rounded-pill float-end">Salvar</button>
    </div>
  </nav>
  <section class="row justify-content-center">
    <form id="create-task" class="col-md-6" method="POST">

      {% with description_errors = get_flashed_messages(category_filter=["description"]) %}
        <div class="mb-4">
          <div class="form-floating border-bottom border-2">
            <input type="text" name="description" id="description" 
              class="form-control border-0 shadow-none {{'is-invalid' if description_errors }}"
              placeholder="adicione a tarefa" aria-label="description" aria-describedby="description">
            <label for="description">adicione a tarefa</label>
          </div>
          {% if description_errors %}
            <small class="text-danger">
              {% for description_error in description_errors %}
                <p>{{ description_error }}</p>
              {% endfor %}
            </small>
          {% endif %}
        </div>
      {% endwith %}

      <div class="form-floating border-bottom border-2">
        <select name="category_id" id="category_id" class="form-select border-0 shadow-none">
          {% for category in categories %}
            <option value="{{ category.id }}">
              {{ category.name }}
            </option>
          {% endfor %}
        </select>
        <label for="category_id" class="form-label">selecione a categoria</label>
      </div>
    </form>
  </section>
</main>

  {% endblock %}