{% extends 'base.html' %}

{% block title %}Editar tarefa{% endblock %}

{% block content %}

    <div>
        <header>
            <h1 class="titulo">listUp</h1>
            <h4 class="subtitulo">O controle está nas suas mãos!</h4>
            {% for message in get_flashed_messages() %}
            {% endfor %}
        </header>
        <main>
            <form method="POST">
                <div>
                    <button>Salvar</button>
                </div>
                <label for="description"></label><br>
                {# value aqui será o dicionario criado na função update do controller task_controller #}
                <input value="{{ task.description }}" type="text" name="description" id="description" placeholder="adicione sua tarefa"><br>
                
                <label for="category_id">Selecione a categoria</label><br><br>
                <select name="category_id" id="category_id">
                    <option value="1" {% if task.category_id == 1 %} selected {% endif %}>Pessoal</option>
                    <option value="2" {% if task.category_id == 2 %} selected {% endif %}>Profissional</option>
                    <option value="3" {% if task.category_id == 3 %} selected {% endif %}>Familiar</option>
                </select>
            </form>
        </main>

{% endblock %}