<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%} - listUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body class="background">
        {% if g.user %}
            <nav>
                <ul>
                    <li>
                        <a>{{ g.user.name }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.logout') }}">Sair</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        {% block content %} {% endblock %}
</body>
</html>